<!DOCTYPE html>
<html>
  <head>
    <title>RestateMatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
    <%= render("layouts/menu_bar")%>
    <%= current_page?(login_path) ? render("layouts/devise_layout") : yield %>
  </body>
</html>
